link(
    rel="stylesheet",
    href="libs/bootstrap-fileinput/css/fileinput.min.css",
    crossorigin="anonymous"
)
script(
    src="libs/bootstrap-fileinput/js/fileinput.min.js",
    crossorigin="anonymous"
)
script(
    src="libs/bootstrap-fileinput/themes/fa/theme.min.js",
    crossorigin="anonymous"
)
link(
    rel="stylesheet",
    href="external/font-awesome-4.7.0/css/font-awesome.min.css",
    crossorigin="anonymous"
)